<header class="topbar">
  <div class="container bar">
    <div class="brand">
      <div class="logo">alma</div>
      <div class="subtitle">WELLNESS CLUB</div>
    </div>

    <nav class="nav">
      <a routerLink="/a-alma" routerLinkActive="active">A Alma</a>
      <a routerLink="/beneficios-membro" routerLinkActive="active">Benefícios Membro</a>
      <a routerLink="/workshops" routerLinkActive="active">Workshops</a>
      <a routerLink="/bem-estar" routerLinkActive="active">Bem Estar</a>
      <a routerLink="/exercicio-fisico" routerLinkActive="active">Exercício Físico</a>
      <a routerLink="/kids" routerLinkActive="active">Kids</a>
    </nav>

    <button class="auth" *ngIf="!(loggedIn$ | async)" (click)="login()">Registe-se / Inicie sessão</button>
    <button class="auth" *ngIf="loggedIn$ | async" (click)="logout()">Terminar sessão</button>
  </div>
</header>
