<header class="topbar">
  <div class="header-banner container">
    <div>
      <div class="small-title">BEM-VINDA À</div>
      <div class="logo">alma</div>
      <div class="sub-title">WELLNESS CLUB</div>
    </div>
    <!-- header.component.html (apenas a linha do botão de autenticação) -->
      <button *ngIf="!(loggedIn$ | async)" class="auth-link" (click)="login()">Registe-se / Inicie sessão</button>
      <button *ngIf="loggedIn$ | async" class="auth-link" (click)="logout()">Terminar sessão</button>
  </div>

  <nav class="nav-bar">
    <ul class="nav-list container">
      <li
        *ngFor="let item of navItems"
        class="nav-item"
        [class.with-submenu]="item.submenu"
        (mouseenter)="item.submenu && showSubmenu(item)"
        (mouseleave)="hideSubmenu()"
      >
        <a *ngIf="!item.submenu" [routerLink]="item.route" routerLinkActive="active">
          {{ item.label }}
        </a>
        <span *ngIf="item.submenu" class="label">{{ item.label }}</span>

        <!-- SUBMENU A LARGURA TOTAL -->
        <div class="sub-menu" *ngIf="openItem === item">
          <div class="submenu-content container">
            <!-- Texto à esquerda -->
            <div class="submenu-left">
              <ul>
                <li *ngFor="let sub of item.submenu">
                  <a [routerLink]="sub.route">{{ sub.label }}</a>
                </li>
              </ul>
            </div>

            <!-- Imagens à direita (opcional) -->
            <div class="submenu-right" *ngIf="item.images?.length">
              <img *ngFor="let img of item.images" [src]="img" alt="" />
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
